[Unit]
Description=FAW Pirate Mirror
Requires=docker.service
After=network.service

[Service]
EnvironmentFile=/etc/sysconfig/piratemirror
Type=oneshot
ExecStartPre=-/usr/bin/docker \
              pull \
              docker.io/miabbott/piratemirror
ExecStart=/usr/bin/docker \
          run \
          $STAGE_MNT \
          $PROD_MNT \
          docker.io/miabbott/piratemirror
