[Unit]
Description=Silverblue Pirate Mirror
After=network.service

[Service]
EnvironmentFile=/etc/sysconfig/piratemirror
Type=simple
ExecStartPre=-/usr/bin/podman \
              pull \
              docker.io/miabbott/piratemirror
ExecStart=/usr/bin/podman \
          run --rm \
          $STAGE_MNT \
          $PROD_MNT \
          docker.io/miabbott/piratemirror
